@import "../../../constants.scss";

div.card-profil {
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  margin: 5px;

  .card-profil-header {
    color: $primaryColor;

    .card-profil-header-button-action {
      position: relative;
      bottom: 2px;
      right: 2px;
    }
  }

  .card-profil-content {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.2em;
  }

  &.card-google-form {
    text-align: center;

    h3 {
      text-align: center;
    }

    .card-google-form-content {
      a.button {
        margin: auto;
      }
    }
  }

  @media screen and (max-width: 880px) {
    .card-profil-content {
      padding-left: 0%;
      padding-right: 0%;
    }
  }

  .table-notifiation {
    display: table !important;
  }
}

.columns-d2 {
  padding: 0px;
  margin: 0px;

  .column-d2 {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 17px;

    .card-profil-header {
      color: $primaryColor;

      .card-profil-header-button-action {
        position: relative;
        bottom: 2px;
        right: 2px;
      }
    }
  }
}

sprint-buttons-session {
  padding-left: 20px;
}

p.control {
  .button-session {
    width: 300px !important;
  }
}

.card-sessions {
  .card-sessions-tablet {
    display: none;
  }

  @media screen and (max-width: 1218px) {
    .card-sessions-full-screen {
      display: none;
    }

    .card-sessions-tablet {
      display: block;
    }
  }

  @media screen and (max-width: 500px) {
    .td-actions {
      padding: 0;
      padding-top: 24px;
      padding-left: 5px;
    }
  }
}

.table-notifiation {
  max-height: 400px;
  overflow-y: auto;
}

.grecaptcha-badge {
  display: none;
}

.grecaptcha-logo {
  display: none;
}