<div class="modal is-active">
  <form [formGroup]="_form" (submit)="submit()">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Ajout d'une colonne</p>
        <button
          class="delete"
          aria-label="close"
          (click)="hideModal.emit(true)"
          type="button"
        ></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label required" for="categories">Type</label>
          <div class="control" class="controle-select-categories-arround">
            <!-- <div
              class="select"
              [ngClass]="{
                'is-danger': _form_status.theme.error,
                'is-success': _form_status.theme.valid
              }"
            >
              <select formControlName="theme" id="categories" required>
                <option value="" disabled>Selectionner</option>
                <option
                  *ngFor="let theme of themes"
                  [value]="theme.id"
                  [ngStyle]="{ 'background-color': theme.background }"
                  >{{ theme.title }}</option
                >
              </select> 
            </div>-->
            <div
              *ngFor="let theme of themes"
              class="radio"
              class="select-categories-arround"
              [ngClass]="{ selected: theme.id === _themeCtrl.value }"
              [ngStyle]="{ 'background-color': theme.background }"
              [title]="theme.title"
              (click)="selectCategorie(theme.id)"
            >
              &nbsp;
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label required" for="message">Nom</label>
          <p class="control">
            <input
              id="message"
              class="input"
              placeholder="Nom de la colonne"
              formControlName="content"
              required
              [ngClass]="{
                'is-danger': _form_status.content.error,
                'is-success': _form_status.content.valid
              }"
              (keydown)="keyEnterSubmit($event)"
              autofocus
              type="text"
            />
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-primary"
          [ngClass]="{ 'is-loading': _loading }"
          type="submit"
        >
          <span class="icon is-small"> <i class="fas fa-check"></i> </span
          >&nbsp;&nbsp;Sauvegarder
        </button>
        <button
          class="button"
          type="button"
          [ngClass]="{ 'is-loading': _loading }"
          (click)="hideModal.emit(true)"
        >
          <span class="icon is-small"> <i class="fas fa-times"></i> </span
          >&nbsp;&nbsp;Annuler
        </button>
      </footer>
    </div>
  </form>
</div>
