<div class="modal is-active">
  <form [formGroup]="_form" (submit)="submit()">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modification de votre profil</p>
        <button
          class="delete"
          aria-label="close"
          (click)="hide()"
          type="button"
        ></button>
      </header>
      <section class="modal-card-body">
        <div class="notification is-danger" *ngIf="_error_edit.show">
          <button
            class="delete"
            (click)="_error_edit.show = false"
            type="button"
          ></button>
          {{ _error_edit.message }}
        </div>
        <div class="field fied-password">
          <label class="label required" for="password">Mot de passe</label>
          <div
            class="control has-icons-left has-icons-right"
            [ngClass]="{
              'has-icons-right':
                _form_status.password.valid || _form_status.password.error
            }"
          >
            <input
              class="input"
              [type]="_passowrd_input.type"
              placeholder="Mot de passe"
              name="password"
              autocomplete="current-password"
              formControlName="password"
              id="password"
              [ngClass]="{
                'is-success': _form_status.password.valid,
                'is-danger': _form_status.password.error
              }"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            <span
              class="icon is-small is-right password-error-check-icon"
              *ngIf="_form_status.password.valid"
            >
              <i class="fas fa-check"></i>
            </span>
            <span
              class="icon is-small is-right password-error-triange-icon"
              *ngIf="_form_status.password.error"
            >
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <button
              class="button is-small toogle-show-password is-primary"
              type="button"
              (click)="tooglePasswordInput()"
            >
              <span class="icon is-small">
                <i class="far" [ngClass]="_passowrd_input.icon"></i>
              </span>
              &nbsp;
            </button>
          </div>
          <p
            class="help"
            [ngClass]="{
              'is-success': _form_status.password.valid,
              'is-danger': _form_status.password.error
            }"
          >
            Minimum de 8 caractères, un caractère miniscule et miniscule avec un
            chiffre.
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-primary"
          [ngClass]="{ 'is-loading': _loading }"
          type="submit"
        >
          <span class="icon is-small"> <i class="fas fa-check"></i> </span
          >&nbsp;&nbsp;Sauvegarder
        </button>
        <button
          class="button"
          type="button"
          [ngClass]="{ 'is-loading': _loading }"
          (click)="hide()"
        >
          <span class="icon is-small"> <i class="fas fa-times"></i> </span
          >&nbsp;&nbsp;Annuler
        </button>
      </footer>
    </div>
  </form>
</div>
