.fied-password {
  #password {
    width: 95%;
    border-right: none;
  }
  .password-error-triange-icon,
  .password-error-check-icon {
    margin-right: 5%;
  }
  .toogle-show-password {
    width: 5% !important;
    min-width: inherit !important;
    position: relative;
    left: -2px;
    height: 36px !important;
    border-top-left-radius: none;
    span {
      color: white !important;
      margin-right: inherit !important;
      margin-left: inherit !important;
      font-size: 1.3em;
    }
  }
  @media screen and (max-width: 880px) {
    #password {
      width: 80%;
    }
    .password-error-triange-icon,
    .password-error-check-icon {
      margin-right: 20%;
    }
    .toogle-show-password {
      width: 20% !important;
    }
  }
}
