section {
    &.forget-password-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      form {
        .field {
          .button {
            min-width: 100px;
          }
        }
      }
    }
    sprint-logo {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  