<section class="section forget-password-page">
  <div class="container">
    <div class="columns">
      <div class="column is-full"><sprint-logo></sprint-logo></div>
    </div>
    <form [formGroup]="_form" (submit)="submit()">
      <h1 class="title is-1">Réinitialisation de votre mot de passe</h1>

      <div class="field">
        <label class="label required" for="email">Email</label>
        <p
          class="control is-expanded has-icons-left"
          [ngClass]="{
            'has-icons-right':
              _form_status.email.valid || _form_status.email.error
          }"
        >
          <input
            class="input"
            type="email"
            placeholder="Email"
            formControlName="email"
            name="email"
            id="email"
            autocomplete="username email"
            required
            [ngClass]="{
              'is-success': _form_status.email.valid,
              'is-danger': _form_status.email.error
            }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right" *ngIf="_form_status.email.valid">
            <i class="fas fa-check"></i>
          </span>
          <span class="icon is-small is-right" *ngIf="_form_status.email.error">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </p>
      </div>

      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button
            class="button is-primary"
            type="submit"
            [ngClass]="{ 'is-loading': _loading }"
          >
            <span class="icon is-small"> <i class="fas fa-check"></i> </span
            >&nbsp;&nbsp; Réinialiser mon mot de passe
          </button>
        </div>
        <div class="control">
          <button
            class="button"
            type="button"
            [routerLink]="['/connection']"
            [ngClass]="{ 'is-loading': _loading }"
          >
            Annuler
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
